.Container {
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

.Title {
    font-size: 30px; 
    font-weight: 800; 
}

.Divider {
    background-color: white;
}

.Body {
    font-size: 18px;
    line-height: 32px; 
    text-align: justify;
}
